{% extends "base.html.twig" %}
            {% block header %}
            <img src="{{ asset("image/Charte/HEADER/bandes.png") }}" alt="Bande"/>
            {% block title %}<title> Acceuil </title>{% endblock %} 
            {% endblock %}

            
